@use "./src/components/styles/variables" as v;

.App {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background: v.$background no-repeat center center fixed;
  background-size: cover;
  font-family: v.$font-family;
  height: 100vh;
  color: v.$color;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
