@use "./src/components/styles/variables" as v;

.App {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  // background-size: cover;
  font-family: v.$font-family;
  color: v.$color;
  height: 100%;
}
