@use "variables" as v;

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  background-color: transparent;
  font-family: v.$font-family;
  color: v.$color;
  width: 90%;

  .text {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    height: 25%;
  }

  .auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;

    .form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 70%;

      .input {
        margin: 5px;
        border: none;
        border-radius: 30px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
        caret-color: v.$color;
        padding-left: 5px;
      }

      .input::placeholder {
        padding-left: 10px;
        color: v.$color;
        font-size: 12px;
        font-family: v.$font-family;
      }

      .btn {
        margin-top: 5px;
        width: 90%;
        height: 30px;
        border-radius: 25px;
        border: 1px solid v.$color;
        background-color: transparent;
        color: v.$background-color;
        transition: 0.5s;
        transition-timing-function: ease-out;
      }
      .btn:hover {
        border: 1px solid v.$color;
        background-color: v.$color;
        color: #fff;
        transition: 0.5s;
        transition-timing-function: ease-in;
      }
    }

    .separator {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
      color: v.$color;
      text-transform: uppercase;

      .divider {
        width: 65px;
        height: 1px;
        background-color: v.$color;
        border: none;
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}
